################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Download_SAP_Schemas/bin/Debug
/Download_SAP_Schemas/obj
/packages/Newtonsoft.Json.12.0.2
/.vs
